# Logs
frontend/logs
backend-api/logs

# production
frontend/build
backend-api/dist

# assets
frontend/public/assets
backend-api/public/assets

# Dependency directories
frontend/node_modules
backend-api/node_modules

# misc
.DS_Store

# Optional eslint cache
.eslintcache

# Output of 'npm pack'
*.tgz

# dotenv environment variables file
frontend/.env*
backend-api/.env*

# production related
nginx
backend-api/Dockerfile
backend-api/.dockerignore

